<div class="menu">
  <div (click)="switchToMainPage.emit()" class="btn menu__btn menu__btn--main">
    <fa-icon class="main-icon" [icon]="['fas', 'list']"></fa-icon>
  </div>
  <div (click)="switchConversation.emit(conversation)" *ngFor="let conversation of conversations" class="btn menu__btn menu__btn--user">
    <img src="{{BASE_URL}}/uploads/{{getOtherPersonsPicture(conversation)}}" alt="user" class="menu__img">
  </div>
  <div class="btn menu__btn menu__btn--user">
    <fa-icon class="icon" [icon]="['fas', 'plus']"></fa-icon>
  </div>

</div>
