.menu {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;

  &__btn {

    &:not(:last-child) {
      margin-right: .3rem;
    }

    img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background-size: cover;
    }

    &--main {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background-color: var(--tertiary-color);
      display: flex;
      justify-content: center;
      align-items: center;

      .main-icon {
        font-size: 2rem;
      }
    }

    &--user {

    }
  }
}
