<div class="one-rm">
  <select (change)="changeSelectedExercise($event)" class="custom-select">
    <option *ngFor="let exercise of exercises" [value]="exercise._id">{{exercise.name}}</option>
  </select>
  <div class="chart-container">
    <div class="btn-container">
      <button (click)="switchToWeekView()" class="btn btn-warning btn-lg" [class.selected]="chartOptions.chosenDisplay === 'week'">Week</button>
      <button (click)="switchToMonthView()" class="btn btn-warning btn-lg" [class.selected]="chartOptions.chosenDisplay === 'month'">Month</button>
    </div>
    <canvas
      #chart
      class="chart"
    ></canvas>
    <switch-tabs (changeView)="changeView($event)"></switch-tabs>
  </div>
  <div class="data-container">

  </div>
</div>

