<div class="register">

  <mat-horizontal-stepper #stepper>
    <mat-step>
      <ng-template matStepLabel>Type Account</ng-template>
      <h2>Would you like to register as a trainee or a trainer?</h2>
      <button (click)="setTypeAccount('trainer')" mat-button matStepperNext>Trainer</button>
      <button (click)="setTypeAccount('trainee')" mat-button matStepperNext>Client</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Fill in your info</ng-template>
      <register-trainee *ngIf="type === 'trainee'"></register-trainee>
      <register-trainer *ngIf="type === 'trainer'"></register-trainer>
    </mat-step>
  </mat-horizontal-stepper>
</div>
