<div class="workout">
  <div *ngIf="!exercise && !!workout" class="workout__main-screen">
    <h2 class="workout__title">{{workout.name}}</h2>
    <p class="workout__instructions">{{ workout.instruction }}</p>
    <button (click)="startWorkout()" class="workout__btn">Start Workout!</button>
  </div>
  <client-exercise
    *ngIf="exercise"
    [exercise]="exercise"
    [exerciseData]="workout.exerciseData[exerciseCount-1]"
    (exerciseCompleted)="exerciseCompleted($event)"
  ></client-exercise>
</div>
