@import '../../../SASS/abstracts/mixins';

.menu {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4%;
  &__option {
    color: var(--primary-color);
    width: 33%;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;

    @include respond(tab-port) {
      margin-left: 5%;
      margin-right: 5%;
      width: 25%;
      font-size: 1.5rem;
      padding: 1rem;
    }

    &:hover {
      border-bottom: 1px solid var(--primary-color);
    }
  }
}


.selected-item {
  border-bottom: 1px solid var(--primary-color);
}
