<div class="workouts">
  <h2 class="workouts__title">Workouts</h2>
  <button (click)="switchDisplayedSection()" *ngIf="displayedSection === 'list'" class="workouts__btn btn btn-block btn-light my-3 p-3">Add new Workout</button>
  <button (click)="switchDisplayedSection()" *ngIf="displayedSection === 'form'" class="workouts__btn btn btn-block btn-light my-3 p-3">Use previous Workout</button>

  <!-- THIS IS THE SECTION THAT DISPLAYS THE FORM TO CREATE A NEW WORKOUT -->

  <div *ngIf="displayedSection === 'form'" class="form">
    <form [formGroup]="newWorkoutForm" (onsubmit)="addNewWorkout()">
      <div class="form-group">
        <input type="text" formControlName="name" class="form-control" aria-describedby="name" placeholder="Name">
        <div *ngIf="f.get('name').touched">
          <mat-error *ngIf="f.get('name').hasError('required')">Name is required</mat-error>
        </div>

      </div>
      <div class="form-group">
        <select placeholder="Pick your types" formControlName="type" class="custom-select">
          <option selected>Pick your type</option>
          <option value="1">Muscle</option>
          <option value="2">Cardio</option>
        </select>
        <div *ngIf="f.get('type').touched">
          <mat-error *ngIf="f.get('type').hasError('required')">Type is required</mat-error>
        </div>
      </div>
      <div class="form-group mb-4">
        <div class="input-group">
          <input class="form-control" placeholder="Date of Workout"
                 name="dp" formControlName="date" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
        <div *ngIf="f.get('date').touched">
          <mat-error *ngIf="f.get('date').hasError('required')">Date is required</mat-error>
        </div>
      </div>
      <div class="form-group">
        <label for="exercises">Exercises</label>
        <div class="input-container">
          <input placeholder="" id="exercises" type="text" class="form-control exercise-input">
          <fa-icon (click)="openExerciseDialog()" class="exercise-icon" [icon]="['fas', 'plus']"></fa-icon>
          <fa-icon class="exercise-icon" [icon]="['fas', 'upload']"></fa-icon>
        </div>
      </div>
      <div class="form-group">
      <textarea rows="10" type="text" formControlName="instructions" class="form-control" aria-describedby="instructions" placeholder="Instructions">
      </textarea>
    </div>

    </form>
  </div>

  <!-- THIS IS THE SECTION THAT WILL LET YOU SEARCH FOR PREVIOUS WORKOUTS AND DISPLAY THEM IN A LIST-->
  <!-- check box option to search through entire exercise database -->
  <!-- When they pick a workout that had been used before then we change the date of course. and the user if necessary-->
  <div *ngIf="displayedSection === 'list'" class="list-section">
    <input placeholder="Search Workouts" type="text" class="workouts__search form-control my-3">
    <h3 class="workouts__recent-workouts">Recent Workouts</h3>
    <h3 class="workouts__search-results">Search Results</h3>
    <!-- here will be a list of all the previous workout this client has done, or the search results-->
    <!-- Every workout list item should -->
  </div>

  <div class="submit-form-container">
    <button (click)="addNewWorkout()" class="submit-btn btn p-3">Submit your Workout</button>
  </div>
</div>
