<div class="workouts">
  <h2 class="workouts__title">Workouts</h2>
  <button (click)="switchDisplayedSection()" *ngIf="displayedSection === 'list'" class="workouts__btn btn btn-block btn-light my-3 p-3">Add new Workout</button>
  <button (click)="switchDisplayedSection()" *ngIf="displayedSection === 'form'" class="workouts__btn btn btn-block btn-light my-3 p-3">Use previous Workout</button>

  <!-- THIS IS THE SECTION THAT DISPLAYS THE FORM TO CREATE A NEW WORKOUT -->

  <div *ngIf="displayedSection === 'form'" class="form">
    <form [formGroup]="newWorkoutForm" (onsubmit)="addNewWorkout()">
      <div class="form-group">
        <input type="text" formControlName="name" class="form-control" aria-describedby="name" placeholder="Name">
        <div *ngIf="f.get('name').touched">
          <mat-error *ngIf="f.get('name').hasError('required')">Name is required</mat-error>
        </div>

      </div>
      <div class="form-group">
        <select placeholder="Pick your types" formControlName="type" class="custom-select">
          <option selected>Pick your type</option>
          <option value="muscle">Muscle</option>
          <option value="cardio">Cardio</option>
        </select>
        <div *ngIf="f.get('type').touched">
          <mat-error *ngIf="f.get('type').hasError('required')">Type is required</mat-error>
        </div>
      </div>
      <div class="form-group mb-4">
        <div class="input-group">
          <input class="form-control" placeholder="Date of Workout"
                 name="dp" formControlName="date" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
        <div *ngIf="f.get('date').touched">
          <mat-error *ngIf="f.get('date').hasError('required')">Date is required</mat-error>
        </div>
      </div>
      <div class="form-group">
        <label for="exercises">Exercises</label>
        <div class="chosen-exercise-container">
          <ul class="exercises-list list-group">
            <li
              class="exercise list-group-item"
              *ngFor="let exercise of selectedExercises; let i = index">
              <span class="exercise__name">Exercise {{i + 1}}: {{ exercise.name }}</span>
              <increment-item
                [placeholder]="'SETS'"
                (countChanged)="changeExerciseData($event, i, 'sets')"
                class="exercise__increment exercise__increment--sets">
              </increment-item>
              <increment-item
                [placeholder]="'WEIGHT (KG)'"
                (countChanged)="changeExerciseData($event, i, 'weight')"
                class="exercise__increment exercise__increment--weight">
              </increment-item>
              <fa-icon (click)="removeChosenExercise(exercise)" class="exercise__icon" [icon]="['fas', 'trash']"></fa-icon>
            </li>
          </ul>
        </div>
        <div class="input-container" ngbDropdown #myDrop="ngbDropdown">
          <input
            ngbDropdownAnchor
            autocomplete="off"
            (keyup)="getExerciseSearchResults()"
            placeholder="enter name exercise"
            id="exercises"
            type="text"
            [(ngModel)]="exerciseName"
            [ngModelOptions]="{ standalone: true }"
            class="form-control exercise-input">
          <div ngbDropdownMenu >
            <exercise-list-item (click)="addToSelectedExercises(exercise)" *ngFor="let exercise of exerciseSearchResults" [exercise]="exercise"></exercise-list-item>
          </div>
          <fa-icon (click)="openExerciseDialog()" class="exercise-icon" [icon]="['fas', 'plus']"></fa-icon>
        </div>
      </div>
      <div class="form-group">
      <textarea rows="10" type="text" formControlName="instructions" class="form-control" aria-describedby="instructions" placeholder="Instructions">
      </textarea>
    </div>
    </form>
  </div>

  <!-- THIS IS THE SECTION THAT WILL LET YOU SEARCH FOR PREVIOUS WORKOUTS AND DISPLAY THEM IN A LIST-->
  <!-- check box option to search through entire exercise database -->
  <!-- When they pick a workout that had been used before then we change the date of course. and the user if necessary-->
  <div *ngIf="displayedSection === 'list'" class="list-section">
    <input [(ngModel)]="workoutSearch" placeholder="Search Workouts" type="text" class="workouts__search form-control my-3">
    <div *ngIf="recentWorkouts && !workoutSearch" class="recent-workouts-container">
      <h3 class="workouts__recent-workouts">Recent Workouts <span style="font-size: .8rem; margin-left: .8rem;">( Click to edit and confirm )</span></h3>
      <div (click)="displayWorkout(recentWorkout)" *ngFor="let recentWorkout of recentWorkouts" class="workout-container">
        <workout-list-item [workout]="recentWorkout"></workout-list-item>
      </div>
    </div>

    <h3 *ngIf="!!workoutSearch" class="workouts__search-results">Search Results</h3>
    <!-- here will be a list of all the previous workout this client has done, or the search results-->
    <!-- Every workout list item should -->
  </div>

  <div class="submit-form-container">
    <button (click)="addNewWorkout()" class="submit-btn btn p-3">Submit your Workout</button>
  </div>
</div>


<!-- THIS IS THE WORKOUT MODAL -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
