.workouts {
  color: var(--tertiary-color) !important;
  padding: 2rem;
  min-height: 90vh;

  display: flex;
  flex-direction: column;

  &__btn {
    background-color: var(--primary-color) !important;
    border-color: transparent;
  }

  .form {

    .form-group {
      .chosen-exercise-container{
        .exercises-list {
         .exercise {
           background-color: var(--tertiary-color);
           margin: 1rem 0;
           color: var(--secondary-color);

           display: flex;

           &__name {
             width: 50%;
             display: flex;
             align-items: center;
           }

           &__increment {
             width: 25%;
             &--sets {

             }

             &--weight {
               margin-left: 2%;
             }
           }

           &__icon {
             display: flex;
             align-items: center;
             margin-left: 1rem;
             font-size: 1.2rem;
           }
         }
        }
      }
    }

    .input-container {
      display: flex;
      justify-content: space-between;

      input {
        width: 75%;
      }

      .exercise-icon {
        width: 10% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--tertiary-color);
        font-size: 1.5rem;
        color: var(--secondary-color);
      }
    }
  }

  .submit-form-container {
    margin-top: auto;
    text-align: center;
    .submit-btn {
      background-color: var(--primary-color);
      width: 50%;
      margin: 1rem auto;
    }
  }
}
