<div class="stats-container">
  <div routerLink="completed-workouts" class="stats-button stats-button--amount">
    <h3 class="title">Completed Workouts</h3>
    <fa-icon class="icon icon--amount" [icon]="['fas', 'check']"></fa-icon>
    <h2 class="value">23</h2>
  </div>
  <div routerLink="RM" class="stats-button stats-button--RM">
    <h3 class="title">Progress <br /> 1RMS</h3>
    <fa-icon class="icon icon--RM" [icon]="['fas', 'check']"></fa-icon>
    <h2 class="value"></h2>
  </div>
  <div routerLink="volume" class="stats-button stats-button--volume">
    <h3 class="title">Exercise <br /> Volume</h3>
    <fa-icon class="icon icon--volume" [icon]="['fas', 'check']"></fa-icon>
    <h2 class="value"></h2>
  </div>
  <div routerLink="weight" class="stats-button stats-button--weight">
    <h3 class="title">Current <br /> Weight</h3>
    <fa-icon class="icon icon--weight" [icon]="['fas', 'check']"></fa-icon>
    <h2 class="value"></h2>
  </div>
  <div routerLink="photo-progress" class="stats-button stats-button--photo">
    <h3 class="title">Progress <br /> Photos</h3>
    <fa-icon class="icon icon--photo" [icon]="['fas', 'check']"></fa-icon>
    <h2 class="value"></h2>
  </div>
  <div routerLink="muscle-groups" class="stats-button stats-button--group">
    <h3 class="title">Sets / <br /> Muscle Group</h3>
    <fa-icon class="icon icon--group" [icon]="['fas', 'check']"></fa-icon>
    <h2 class="value"></h2>
  </div>
</div>



