<div class="stats">
  <div class="stats-container">
    <div routerLink="completed-workouts" class="stats-button stats-button--amount">
      <h3 class="title">Completed Workouts</h3>
    </div>
      <div routerLink="RM" class="stats-button stats-button--RM">
        <h3 class="title">Progress <br /> 1RMS</h3>
      </div>
      <div routerLink="volume" class="stats-button stats-button--volume">
        <h3 class="title">Exercise <br /> Volume</h3>
      </div>
      <div routerLink="weight" class="stats-button stats-button--weight">
        <h3 class="title">Current <br /> Weight</h3>
      </div>
      <div routerLink="progress-photos" class="stats-button stats-button--photo">
        <h3 class="title">Progress <br /> Photos</h3>
      </div>
      <div routerLink="muscle-groups" class="stats-button stats-button--group">
        <h3 class="title">Sets / <br /> Muscle Group</h3>
      </div>
  </div>
</div>




