.stats {
  min-height: 100vh;
  padding: 10rem 2rem 2rem 2rem;

  background-color: var(--tertiary-color);

  display: flex;
  align-items: flex-start;
  .stats-container {
    max-width: 120rem;

    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-auto-rows: min-content;
    grid-gap: 5%;
    align-content: center;

    margin: 0 auto;
    .stats-button {
      height: 40vw;

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      background-color: var(--secondary-color);
      color: var(--tertiary-color);
      padding: .5rem;
      border-radius: 5px;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      cursor: pointer;

      &--amount {
         background-image: linear-gradient(to bottom right, rgba(#000,.5), rgba(#000,.5)), url("/assets/images/gym-background-1.jpg");
       }

      &--RM {
        background-image: linear-gradient(to bottom right, rgba(#000,.5), rgba(#000,.5)), url("/assets/images/home-background-2.jpg");
        background-position: top center;
      }

      &--volume {
        background-image: linear-gradient(to bottom right, rgba(#000,.5), rgba(#000,.5)), url("/assets/images/pt-background.jpeg");
      }

      &--weight {
        background-image: linear-gradient(to bottom right, rgba(#000,.5), rgba(#000,.5)), url("/assets/images/gym-background-1.jpg");
      }

      &--photo {
        background-image: linear-gradient(to bottom right, rgba(#000,.5), rgba(#000,.5)), url("/assets/images/home-background-2.jpg");
        background-position: top center;
      }

      &--group {
        background-image: linear-gradient(to bottom right, rgba(#000,.5), rgba(#000,.5)), url("/assets/images/pt-background.jpeg");
      }

      .title {
        text-align: center;
      }
    }
  }

}
