.schedule {
  color: var(--secondary-color-color);
  padding: 1rem;
  min-height: 100vh;
  background-color: var(--tertiary-color);
  &__title {
    margin-bottom: 2rem;
    text-align: center;
  }

  .workout-container {
    display: flex;
    .date-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 15%;
      min-width: 15%;
      height: 5rem;
      margin-right: 2%;
      background-color: var(--primary-color);
      color: var(--secondary-color);
      border-radius: 5px;
      text-align: center;
    }

    .workout-item {
      width: 100%;
    }
  }
}
