<div class="card">
  <div *ngIf="update" class="card-header">
    <img src="/assets/profile-pictures/{{update.client.profile_pic}}" alt="woman">
    <div class="update-data">
      <h5 class="update-user">{{ update.client.fullName }}</h5>
      <h6 class="update-title">{{ update.text }}</h6>
    </div>
  </div>
  <div class="card-body">
    <img class="card-img" src="/assets/dumbbell.png" alt="woman">
    <div class="card-data">
      <h5 class="card-title">{{ workout.name }}</h5>
      <p class="card-text">{{ workout.description }}</p>
    </div>
    <hr *ngIf="!update" class="dividing-line">
    <div *ngIf="!update" class="see-exercises-container">
      <button
        (click)="toggleCollapse($event)"
        [attr.aria-expanded]="!collapsedExercises"
        aria-controls="collapse"
        class="btn btn-warning see-exercises">
        See Exercises
      </button>
    </div>
    <div id="collapse" [ngbCollapse]="collapsedExercises">
      <exercise-list-item class="exercise-list-item" *ngFor="let exercise of workout.exercises" [exercise]="exercise"></exercise-list-item>
    </div>
  </div>
  <div *ngIf="isClient" class="card-footer">
   <mat-checkbox (click)="toggleCheckbox($event)" color="warn">Workout Complete?</mat-checkbox>
    <fa-icon (click)="startWorkout(workout._id)" class="play-icon" [icon]="['fas', 'play']"></fa-icon>
  </div>
</div>
