




<div
  class="card"
  [ngStyle]="{'background-image': (chosenImage) ? 'url(\'/assets/images/' + chosenImage + '\')' : ''}"
>
  <div class="card-header">
    <h3 class="card-title">{{workout.name}}</h3>
    <fa-icon class="card-enlarge" [icon]="['fas', 'search-plus']"></fa-icon>
  </div>

  <div class="card-body">
    <div class="exercises-column">
      <h5>Exercises:</h5>
      <div *ngFor="let exercise of workout.exercises; let i = index" class="exercise-item">
        <span>{{exercise.name}}: </span>
        <span>{{workout.exerciseData[i].sets}} sets with {{workout.exerciseData[i].weight}}KG</span>
      </div>
<!--      <exercise-list-item class="exercise-list-item" *ngFor="let exercise of workout.exercises" [exercise]="exercise"></exercise-list-item>-->
    </div>
    <div class="instructions-column">
      <h5>Instructions:</h5>
      <p>{{workout.instructions}}</p>
    </div>
  </div>

    <div *ngIf="isClient" class="card-footer">
      <span class="footer-text">Let's get started</span>
      <fa-icon (click)="startWorkout(workout._id)" class="play-icon" [icon]="['fas', 'play']"></fa-icon>
    </div>
</div>
