<div class="clients">
  <ng-container *ngIf="clients.length > 0; else noClients">
    <div (click)="visitClient(client._id)" *ngFor="let client of clients" class="clients__container">
      <img
        src="{{BASE_URL}}/uploads/{{client.profile_pic}}"
        alt="woman" class="clients__img"
      >
      <p class="clients__name">{{client.firstName}}</p>
    </div>

  </ng-container>
  <ng-template #noClients>
    <div class="no-clients-container">
      <h3 class="no-clients-text">You haven't connected to any clients yet</h3>
      <button class="no-clients-btn btn btn-warning">Send invite</button>
    </div>
  </ng-template>
</div>
