.increment {
  display: flex;
  color: var(--secondary-color);
  &__input {
    width: 50%;
    border: 1px solid transparent;
    text-align: center;
  }

  &__btn {
    width: 25%;
    &--minus {
      border-radius: 5px 0 0 5px;
    }

    &--plus {
      border-radius: 0 5px 5px 0;
    }
  }
}
