<div class="increment">
  <button
    [ngStyle]="{
    color: color || 'white',
    backgroundColor: bgc || 'black'}"
    (click)="changeCount('minus')"
    class="btn increment__btn increment__btn--minus">
    -
  </button>
  <input #input (change)="changedInput(input.value)" [value]="inputValue | number: '1.0-1'" [placeholder]="placeholder" type="text"
         class="increment__input">
  <button
    [ngStyle]="
    {
    color: color || 'white',
    backgroundColor: bgc || 'black'
    }"
    (click)="changeCount('plus')"
    class="btn increment__btn increment__btn--plus">
    +
  </button>
</div>
