
    <div class="clients__list-item card" style="width: 18rem;">
      <img class="card-img-top" src="/assets/images/woman.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Tijl myName</h5>
        <p class="card-text">Goal description: losing weight and increase muscle mass</p>
        <p class="card-text">Latest update: two minutes ago</p>
        <a routerLink="clientId/feed" class="btn btn-primary">Visit profile</a>
      </div>
    </div>


<!-- there should probably be some extra sidebar that gives you some weekly statistics -->
<!-- But this bar should probably only appear on wide screens-->
