<div class="connect">
  <button class="connect__message btn">Questions? <fa-icon [icon]="['fas', 'envelope']"></fa-icon></button>
  <button class="connect__join btn">Join My team!</button>

  <div class="connect__social">
    <div class="twitter-container social-container">
      <img src="/assets/icons/twitter.png" alt="twitter logo">
    </div>
    <div class="facebook-container social-container">
      <img src="/assets/icons/facebook.png" alt="Facebook logo">
    </div>
    <div class="twitter-container social-container">
      <img src="/assets/icons/linkedin.png" alt="Linkedin logo">
    </div>
  </div>
</div>
