.event {
  display: flex;
  min-height: 5rem;
  margin-top: 2rem;
  box-shadow: 0 .5rem 1rem rgba(#000, .2);
  &__date {
    flex: 0 0 20%;
    background-color: #fcb823;
    font-weight: 800;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > * {
      color: #000;
    }

    .day {
      font-size: 2rem;
      margin-bottom: 0 !important;
    }

    .month {
      font-size: 1rem;
      margin-bottom: 0 !important;
    }
  }

  &__data {
    flex-grow: 1;
    padding: 1rem;
  }
}
