@import "../../SASS/abstracts/mixins";

.search-bar-container {
  height: 3rem;

  @include respond(tab-port) {
    height: 5rem;
  }



  #searchTrainerInput {
    height: 100%;

    &:hover {
      outline: none;
    }
  }

}
